body {
    font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
    font-size: 14px;
  }

  #cy {
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 450px;
    right: 0;
    z-index: 99;
    margin-right: 60%;
  }

  h1 {
    opacity: 0.5;
    font-size: 1em;
    font-weight: bold;
  }

  #feature-toggle {
    position: absolute;
    z-index: 100;
  }

  #sfg-extra {
      display: flex;
  }

  .panels {
    display: flex
  }

  .circuit-panel {
    margin-top: 75%;
  }

  .left-layer {
    display: flex;
    width: 40%;
  }

  .right-layer {
    display: inline-block;
    width: 50%;
    margin-left: 30px;
  }

  .parameter-panel {
    width: 10%;
    border: 1px solid black;
    padding: 10px;
  }

  .transfer-panel {
    /* padding: 10px; */
    /* vertical-align: top;
    border: 1px solid black; */
  }